* {
    box-sizing: border-box;
    }
     
    *:focus {
    outline: none;
    }
    body {
    font-family: Arial;
    background-color: rgb(144, 192, 224);
    padding: 50px;
    }
    .containerAcc{
        margin: 0% 0.5%;
        width: 30%;
        float: left; 
    }

    #rightContainer{
        margin: 0% auto;
        width: 68%; 
        float: right;
    }

    .screen {
    background-color: #FFF;
    padding: 20px;
    border-radius: 5px
    }

    table{
        width: 100%;
    }
    th, td {
        border-bottom: 1px solid #ddd;
        padding: 4%;
        text-align: center;
      }
    th {
        height: 12px;
        background-color: skyblue;
      }
    td {
        height: 9px;
        vertical-align: bottom;
      }

    tr:hover {background-color: #acc5d6;}
    tr:nth-child(even) {background-color: #f2f2f2;}
    
    #Instructions{font-size: 12px; color: burlywood;}
     
    .app-title {
    text-align: center;
    color: #777;
    }
     
    .form {
    text-align: center;
    }
    .control-group {
    margin-bottom: 10px;
    }
     
    input {
    text-align: center;
    background-color: #ECF0F1;
    border: 2px solid transparent;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 200;
    padding: 10px 0;
    width: 100%;
    transition: border .5s;
    }
     
    input:focus {
    border: 2px solid #3498DB;
    box-shadow: none;
    }
     
    .btn {
    border: 2px solid transparent;
    background: rgb(77, 132, 168);
    color: #ffffff;
    font-size: 16px;
    line-height: 25px;
    padding: 10px 0;
    text-decoration: none;
    text-shadow: none;
    border-radius: 15px;
    box-shadow: none;
    transition: 0.45s;
    display: block;
    width: 250px;
    margin: 0 auto;
    }
     
    .btn:hover {
    background-color: #2980B9;
    }
     
    .login-link {
    font-size: 12px;
    color: #444;
    display: block;
    margin-top: 12px;
    }
    
    #msgs { background: #b2be9e; padding: 3pt; color: rgb(112, 64, 73)}